*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
.gdbinit

_kernel
build/
fsimg
*.a
include/syscall_gen
compile_commands.json
.vscode
!.vscode/launch.json
!.vscode/tasks.json